<%- include('partials/header') -%> 




<h1><%= title  %></h1>
<p><%= content %></p>


<div class="commentdiv">   
  <form action="/posts/:postId" method="post">
    <div>
      <h4>Add a new comment</h4>
      <div>
        <textarea class="textareaheight" name="postComment" placeholder="Type Your Comment..." ></textarea>
      </div>
      <div>
        <button class="  btn btn-primary" type="submit" value=" commentbutton " name="postbutton">Post Comment</button>
      </div>
    </div>
  </form>
</div>




<h3>Comments</h3>
 <div class="infinite-scroll-component">

<div class="rendercomments">
<div class="imgdiv">

  <img class="imgwidth " src="/images/userimg.png" alt="">
</div>
<div>
<!-- forEach loop -->
    <div class="replybox">
  
      
       
                                   
  <input type="hidden" name="listName" value="commentbutton"></input>
      
  <p></p>
</div>
        <button class="btn btn-primary" type="submit" name="button">Reply</button>
       
      
          </div>
        
          
          </div>
 
        </div>
        
      </div>
      </div> 
     

<%- include('partials/footer') -%> 